<?xml version="1.0" encoding="UTF-8"?>

<config>
    <modules>
        <Polcode_Sugarcp>
            <version>0.1.0</version>
            <depends>
                <Mage_Customer/>
            </depends>
        </Polcode_Sugarcp>
    </modules>
    <global>
        <helpers>
            <sugarcp>
                <class>Polcode_Sugarcp_Helper</class>
            </sugarcp>
        </helpers>
        <models>
            <sugarcp>
                <class>Polcode_Sugarcp_Model</class>
            </sugarcp>
        </models>
    </global>
    <frontend>
        <events>
            <customer_save_after>
                <observers>
                    <sugarcp_observer>
                        <class>sugarcp/observer</class>
                        <method>customerSaved</method>
                    </sugarcp_observer>
                </observers>
            </customer_save_after>
            <customer_delete_after>
                <observers>
                    <sugarcp_observer>
                        <class>sugarcp/observer</class>
                        <method>customerDeleted</method>
                    </sugarcp_observer>
                </observers>
            </customer_delete_after>
<!--            <product_new_action>
                <observers>
                    <sugarcp_observer>
                        <class>sugarcp/observer</class>
                        <method>productSaved</method>
                    </sugarcp_observer>
                </observers>
            </product_new_action>-->
        </events>
    </frontend>    
    <adminhtml>
        <events>
            <customer_save_after>
                <observers>
                    <sugarcp_observer>
                        <class>sugarcp/observer</class>
                        <method>customerSaved</method>
                    </sugarcp_observer>
                </observers>
            </customer_save_after>
            <customer_delete_after>
                <observers>
                    <sugarcp_observer>
                        <class>sugarcp/observer</class>
                        <method>customerDeleted</method>
                    </sugarcp_observer>
                </observers>
            </customer_delete_after>
<!--             <catalog_product_save_after>
                <observers>
                    <sugarcp_observer>
                        <class>sugarcp/observer</class>
                        <method>productSaved</method>
                    </sugarcp_observer>
                </observers>
            </catalog_product_save_after>-->
        </events>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <sugarcp translate="title" module="sugarcp">
                                            <title>Customers into SugarCRM</title>
                                        </sugarcp>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <crontab>
        <jobs>
            <my_cron>
                <schedule>
                    <cron_expr>*/1 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>sugarcp/observer::productSaved</model>
                </run>
            </my_cron>
        </jobs>
    </crontab>
</config>