<?xml version="1.0" encoding="UTF-8"?>

<config>
    <modules>
        <Polcode_Sugarcp>
            <version>0.1.0</version>
            <depends>
                <Mage_Customer/>
            </depends>
        </Polcode_Sugarcp>
    </modules>
    <global>
        <helpers>
            <sugarcp>
                <class>Polcode_Sugarcp_Helper</class>
            </sugarcp>
        </helpers>
        <models>
            <sugarcp>
                <class>Polcode_Sugarcp_Model</class>
            </sugarcp>
        </models>
    </global> 
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <sugarcp translate="title" module="sugarcp">
                                            <title>Customers into SugarCRM</title>
                                        </sugarcp>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <crontab>
        <jobs>
            <my_cron>
                <schedule>
                    <cron_expr>* * */1 * *</cron_expr>
                </schedule>
                <run>
                    <model>sugarcp/observer::productSaved</model>
                </run>
            </my_cron>
            <deleteProduct>
                <schedule>
                    <cron_expr>* * */1 * *</cron_expr>
                </schedule>
                <run>
                    <model>sugarcp/observer::productDeleted</model>
                </run>
            </deleteProduct>
              <saveCustomer>
                <schedule>
                    <cron_expr>* * */1 * *</cron_expr>
                </schedule>
                <run>
                    <model>sugarcp/observer::customerSaved</model>
                </run>
            </saveCustomer>
            <deleteCustomer>
                <schedule>
                    <cron_expr>* * */1 * *</cron_expr>
                </schedule>
                <run>
                    <model>sugarcp/observer::customerDeleted</model>
                </run>
            </deleteCustomer>
        </jobs>
    </crontab>
</config>